		*{margin:0;padding:0;list-style: none;text-decoration: none;}
		html{font-size:20px;}
		body{height:100%;}
		.section{width:15rem;margin:0 auto;}
		.hot_tag{color:#d51942;}
		.floatR{float: right}
		.head{height:2.5rem;background:linear-gradient(#fff,#ededed);text-align: center;line-height: 2.5rem;position: relative;}/*渐变*/
		.head a{height:1.45rem;width:3.05rem;position:absolute;left:0; }
		.head .back{width:3.05rem;height:1.45rem;vertical-align: middle;}
		.head .logo{width:3.7rem;height:0.975rem;}
		.banner {width:100%;}
		.banner_box {overflow: hidden;width:500%;}
		.banner img{width:16rem; height:6.675rem;}
		.banner_box li{float:left;}
		.banner_point{clear:both;margin-top:0.5rem }
		.banner_point ul{display: -webkit-box;-webkit-box-pack:center;}
		.banner_point li{width:0.25rem;height:0.25rem;background: #a9a9a9;border-radius: 50%;margin-right:0.25rem }
		.classify{width:15rem;overflow: hidden;margin:0 auto;}
		.classify ul li{float:left;width:25%;text-align: center;margin-top: 1rem;}
		.classify ul li img{display: block;width:2rem;height:2rem;margin:0 auto;}
		.classify ul li span{display: block;padding-top: 0.5rem;font-size: 0.6rem;font-family: "[FZLTHJW]";color:#999;}
		.hot_sell{width:15rem;height:1.25rem;border-bottom:0.1rem solid #dcdcdc;margin: 1.5rem auto 0;font-size: 0.7rem;}
		.hot_sell p{border-left:0.1rem solid #d51938;padding-left: 0.1rem }
		.hot_sell span{float:right;}
		.goods_rank{width:15rem;margin:0.75rem auto 0;}
		.goods_rank li{display: -webkit-box;}
		.goods_rank li>img{width:4.5rem;height:3rem;}
		.ranks{width:1.5rem;display: block;height: 3rem;line-height: 3rem;font-size: 1.2rem;color:#fff;text-align: center}
		.ranks_detail{-webkit-box-flex:1;background: #f4f4f4;display: -webkit-box;}
		.selling{font-size:0.6rem;line-height: 0.85rem;padding:0.625rem 0 0 0.5rem; color:#9f9f9f;-webkit-box-flex:2;}
		.selling span{text-decoration: line-through;}
		.selling_price{-webkit-box-flex:1;line-height: 3rem}
		.selling_price span{font-size: 0.8rem;color:#d51938;font-weight: bold;}
		.selling_price img{width:0.325rem;height:0.55rem;}
		.ranks_1{background: #e00202}
		.ranks_2{background: #ff4800}
		.ranks_3{background: #ff7300}
		.ranks_4{background: #ff9d00}
		.ranks_5{background: #ffa800}
		.ranks_6{background: #ffb400}
		.ranks_7{background: #ffba00}
		.ranks_8{background: #fcd000}
		.ranks_9{background: #ffd719}
		.ranks_10{background: #ffe152}
		.interpretation{background: #f5f5f5;height:2rem;line-height: 2rem;text-align: center;font-size:0.7rem;font-weight: bolder;color:#666;margin-top: 0.5rem; }
		.groups{display: -webkit-box;margin-top: 0.5rem}
		.groups img{width:3.725rem;height: 8.8rem}
		.groups ul{width:11.25rem;height: 8.8rem;display: -webkit-flex;flex-wrap: wrap}
		.groups ul li{width:3.59rem;height:2.08rem;line-height: 2.065rem;text-align: center;font-size:0.7rem;color:#999; border:0.08rem solid #eee;}
		/*宽：原配0.0125rem  最小0.08rem  适配多出0.0675rem  3.725-0.0675*2=3.59*/
		/*高：原配0.0125rem  最小0.08rem  适配多出0.0675rem  2.2-0.0675*2=2.065*/	
		.groups ul li.hot_tag{color:#d51942;}
		.client{display: -webkit-box;margin-top: 0.8rem}
		.client li{height:3.95rem;text-align: center;-webkit-box-flex:1;font-size:0.6rem;color:#999;border:0.08rem solid #eee;}
		.client li a{height:2.75rem;display: block;line-height: 2.75rem;}
		.client p{padding:;}
		.client img{vertical-align: middle;}
		.user_bar{background: #f8f8f8;height:2.25rem;line-height: 2.25rem;font-size:0.7rem;font-weight: bolder;margin-top:0.75rem  }
		.footer{background: #eee;text-align: center;font-size:0.7rem;padding: 1rem 0 0.7rem 0;font-weight: bold; }
		.footer p{font-size:0.55rem ;color:#999;margin:0.75rem 0 0.625rem 0; }
		.back_top{margin-right: 0.125rem}
		.back_top span{}
		.back_top img{height:0.225rem;width:0.425rem;padding:0 0.5rem 0 0.5rem;margin-left: -0.2rem}
